<h1 align="center"> ADA - Milestone 2</h1>

**Students:**
- ABI FADEL Zad
- ADEYE Abiola
- BRUNO Etienne
- FERCHIOU Sami

In [ ]:
from IPython.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import os

# import dask.dataframe as dd
# from distributed import Client

pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.
pd.set_option("display.max_columns", None)
pd.options.display.max_rows = 20

sns.set(rc={"figure.figsize": (8, 5)})
# sns.set(style="white", color_codes=True)
sns.set_style("darkgrid", {"grid.color": ".6", "grid.linestyle": ":"})

%load_ext ipython_clipboard
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [ ]:
data = pd.read_json("data/yt_metadata_en.jsonl.gz", compression="gzip", chunksize=100000, lines=True)

In [ ]:
dfs = [pd.read_feather(f"data/data_feather/{i}") for i in os.listdir("data/data_feather")]

In [ ]:
df = pd.concat(dfs)
df.head(5)

In [ ]:
df.reset_index(drop=True).to_json("data/metadata_json", compression="gzip")

In [ ]:
df.reset_index(drop=True).to_feather("data/metadata.feather")

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("youniverse.sqlite")

In [ ]:
cur = con.cursor()
res = cur.execute("select count(*) from num_comments")
res.fetchone()

In [ ]:
os.listdir("data")

In [ ]:
files = next(os.walk("data/"))[2]
trash = ".DS_Store"
if trash in files:
    files.remove(trash)
files

In [ ]:
for file in files:
    name = file.split(".")[0]
    fmt = file.split(".")[1]
    file = "data/" + file
    print(fmt)
    if fmt == "tsv":
        df = pd.read_csv(file, sep="\t", compression="gzip")
    elif fmt == "feather":
        df = pd.read_feather(file)
    elif fmt == "jsonl":
        continue
    print(name)
    df.to_sql(name, con, if_exists="replace")